  {% extends "base.html.twig" %}

  {% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

  {% block body %}
   {% if editMode %}
    <h1> Modification d'un article! </h1>
    {% else %}
     <h1> Création d'un article! </h1>
    {% endif %}
    
 

  {{ form_start(formArticle) }}

  {{ form_row(formArticle.title, {'attr' : {'placeholder' : "Titre de l'article" }}) }}
  {{ form_row(formArticle.category) }}
  {{ form_row(formArticle.content, {'attr' : {'placeholder' : "Contenu de l'article" }}) }}
  {{ form_row(formArticle.image , {'attr' : {'placeholder' : "URL de l'image" }}) }}
  {{ form_row(formArticle.title) }}
 
  <button type="submit" class="btn btn-success" > 
  {% if editMode  %}
     Enregister les modifications
  {% else %}
     Ajouter un article
     {% endif %}
  </button>
  
  {{ form_end(formArticle) }}

  {% endblock %}  